.heading {
  text-align: center;
  font-size: 2.3rem;
  font-weight: lighter;

  strong {
    font-weight: bold;
  }

  @include atSmall {
    font-size: 3.1rem;
  }

  @include atLarge {
    text-align: left;
  }

  &__subheading {
  }
}
