.page-section {
  padding: 2.25rem 0 1.12rem 0;
  background-color: $mainWhite;

  @include atSmall {
    padding: 4.5rem 0 2.25rem 0;
  }

  @include atMedium {
    padding: 6.75rem 0 3.37rem 0;
  }

  &--blue {
    color: $mainWhite;
    background-color: $secondaryBlue;
  }

  &--green {
    background-color: $mainGreen;
  }
}
