.primary-nav {
  padding-top: 10px;

  @include atMedium {
    padding-top: 0;
  }

  &--pull-right {
    @include atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @include clearFix;
  }

  li {
    list-style: none;
    display: block;
    margin: 1px;

    @include atSmall {
      margin: 0;
      display: inline-block;
      margin-right: 10px;
      margin-top: 5px;
    }

    @include atMedium {
      margin-right: 20px;
      margin-top: 5px;
      float: left;
      display: block;
    }
  }

  // li:last-child {
  //   padding-right: 0;
  //   @include atMedium {
  //     padding-right: 20px;
  //   }
  // }

  a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 12px 12px;
    font-size: 0.8rem;
    background-color: rgba($mainBlue, 0.8);

    @include atMedium {
      font-size: 1rem;
      padding: 12px 0;
      background-color: transparent;

      &.is-current-link {
        color: $mainOrange;
      }
    }
  }
}
